<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script type="text/javascript" src="../vue.js"></script> -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"
    ></script>
    <!-- The following line causing an error  -->
    <!-- <script type="text/javascript" src="../vue.js"></script> -->
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- Computed values  -->
      <!-- Computed bycysh l return value l7d 
      lma 7aga mn its dependents btt8yr -->
      <!-- Computed Called :
      <input v-model="first_name" />
      <input v-model="last_name" />
      <br />
      {{full_name}}  
      <br />
      Method Called :
      <input v-model="first_nameM" />
      <input v-model="last_nameM" />
      {{full_nameM()}}  -->
      <!-- ------------------------- -->
      <!-- Watch v19  -->
      <!-- <h1>Watch Example</h1>
      <div @click="isLiked=!isLiked"  :class="isLikedClass">{{likes}} likes</div> -->

      <!-- Class binding v.20 -->
      <!-- <div class="rect" :class="'red'"></div>
      <div class="rect" :class="objClass"></div>
      <button @click="active=!active">Toggle</button> -->
      <!-- ----------------------- -->
      <!-- Class binding with array v.21 -->
      <!-- <div class="rect" :class="'red'"></div>
      <div :class="['rect','has-border','blue',{red:true,blue:false}]"></div> -->

      <!-- ----------------------- -->
      <!-- Style binding v.22 -->
      <!-- <div :style="style"></div> -->

      <!-- ----------------------- -->
      <!-- v-text directive v.23 -->
      <!-- {{first_name}}
      <br />
      <div v-text="first_name"></div> -->

      <!-- ----------------------- -->
      <!-- v-if directive v.24 -->
      <!-- <div v-if="likes<5">Likes <5</div>
      <div v-else-if="likes==5">Likes =5</div>
      <div v-else>Likes >5</div>
      <button @click="likes++" class="btn btn-primary">Increment</button>
      <button @click="likes--" class="btn btn-danger">Decrement</button>
      <div v-text="likes"></div> -->

      <!-- ----------------------- -->
      <!-- grouping v-if and template tag v.25 -->
      <!-- <template v-if="likes<5">
        <div>Likes <5</div>
        <div>div2</div>
        <div>div3</div>
      </template> -->

      <!-- ----------------------- -->
      <!-- v-show v.26 -->
      <!-- v-show is better than v-if from performance wise -->
      <!-- <div v-if="active">Hii</div>
      <div v-show="active">Hii</div>
      <button @click="active=!active" class="btn btn-primary">Show</button> -->

       <!-- Looping v.27 -->
       <template v-if="false">
         <ul>
           <template v-for="(item,index) in items">
             <li>{{index}}:{{item}}</li>
            </template>
         </ul>
       </template>
        <input v-model="number" >
        <button @click="addToList" class="btn btn-primary">Add</button> 
        <ul>
          <template v-for="(item,index) in obj">
            <li>Name :{{item.name}}, Age:{{item.age}}

              <button @click="remove(index)" class="btn btn-primary">remove</button> 
              <button @click="isUpdated=!isUpdated;currentElement=index" class="btn btn-primary">update</button> 
              <span v-show="isUpdated&&currentElement==index">
                <br />
                <br />
                <input type="text" v-model="item.name">
                <input type="number" v-model="item.age">
                <br />
                <br />
              </span>
            </li>
           </template>
         </ul>
  </body>
  <script type="text/javascript">
    var vm = new Vue({
      el: "#app",
      data: {
        first_name: "mina",
        // last_name: "malak",
        // first_nameM: "mina",
        // last_nameM: "malak",
        likes: 4,
        isLiked: false,
        active: true,
        number:null,
        isUpdated:false,
        currentElement:null,
        items:[1,2,3,4,5,6],
        obj:[{name:'Mina',age:12},{name:'Malak',age:32},{name:'MKM',age:18}],
        style: {
          width: !this.active ? "100px" : "300px",
          height: "200px",
          background: "black",
        },
      },
      methods: {
        // full_nameM:function(){
        //   console.log("Method called")
        //   return this.first_nameM+" "+this.last_nameM
        // }
        addToList:function(){
            this.items.push(this.number);
            this.number=null;
        },
        remove:function(index){
          console.log(index)
          this.obj.splice(index,1);
        },
        likeHandler: function () {
          console.log("called");
          this.likes += 1;
        },
      },
      computed: {
        // full_name:function(){
        //   console.log("computed called")
        //   return this.first_name+" "+this.last_name
        // },
        isLikedClass: function () {
          return this.isLiked ? "liked" : "";
        },
        objClass: function () {
          return { blue: this.active, red: !this.active, "has-border": true };
        },
      },
      // watch: {
      //   isLiked: function (value) {
      //     return value ? this.likes++ : this.likes--;
      //   },
      // },
    });
  </script>
  <!-- <style  type="text/css">
    .liked{
      font-weight: bold;
      color: blue;
    }
  </style> -->
  <style type="text/css">
    .has-border {
      box-sizing: border-box;
      border: solid 1px #ccc;
    }
    .rect {
      width: 100px;
      height: 100px;
    }
    .blue {
      background: blue;
    }
    .red {
      background: red;
    }
  </style>
</html>
