<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script type="text/javascript" src="../vue.js"></script> -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"
    ></script>
    <!-- The following line causing an error  -->
    <!-- <script type="text/javascript" src="../vue.js"></script> -->
    <script src="https://use.fontawesome.com/f8f42c5404.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- Conditional with looping  v.29-->
      <!-- -------------------- -->
      <!-- <div v-for="item in list2" v-if="item.age>10">
        <span>Name: {{item.name}}</span>
        <span>Age: {{item.age}}</span>
      </div>
      <div v-for="(item, index) in list2">
        <h3># {{index+1}}</h3>
        <div>Name: <input v-model="item.name" /></div>
        <div>Age: <input v-model="item.age" /></div>
        <button @click="deleteItem(index)">Delete This</button>
        <br />
      </div> -->

      <!-- -------------------- -->
      <!--   v-for with objects v:30 -->
      <!-- <div v-for="(value, key,index) in obj">
        #{{index}} {{key}}:{{value}}
        <br />
      </div> -->

      <!-- -------------------- -->
      <!--   Vue.Set with objects v:32 -->
      <!-- <div v-for="item in list">{{item}}</div>
      <button @click="addNew">Add</button>
      <button @click="changeList">Change</button>
      <button @click="change2nd">Change 2nd</button>
      <br />
      <div v-for="(item,key) in obj">{{key}}:{{item}}</div>
      <button @click="addNew2">Add New</button>
      <button @click="remove">Remove</button> -->

      <!-- -------------------- -->
      <!--  V-key with objects v:33 -->
      <!-- <div v-for="item in list2" class="user" :key="item.name">
        <input v-model="item.name">
      </div>
      <button @click="reverse">Reverse</button>
      <button @click="addClassToFirst">Add Class To First</button> -->

      <!-- -------------------- -->
      <!--  DATA filteration v:34 -->
      <!-- <ul>
        <li v-for="item in evenNums">{{item}}</li>
      </ul>
      <input v-model="search">
      <ul>
        <li v-for="user in searchUsers()">{{user.name}}, {{user.age}}</li>
      </ul> -->

      <!-- -------------------- -->
      <!--  v-for range 2 v:36 -->
      <span @click="rate=i" v-for="i in parseInt(rate)" class="fa fa-star"></span><span v-for="i in parseInt(5-rate)" @click="rate=i+rate" class="fa fa-star-o"></span>
      <input v-model="rate" type="number">
    </div>
  </body>
  <script type="text/javascript">
    Vue.config.devtools = true
    new Vue({
      el: "#app",
      data: {
        newVal: "",
        search: '',
        rate:3,
        list: [1, 2, 3,4,5,6,7,8],
        list2: [
          { name: "ahmad", age: 10 },
          { name: "bashir", age: 12 },
          { name: "houssam", age: 13 },
        ],
        obj:{
          name: "ahmad", age: 10 ,mail:'hi@mail.com'
        },
      },
      methods: {
        addItem: function () {
          this.list.push(this.newVal);
          this.newVal = "";
        },
        deleteItem: function (index) {
          this.list2.splice(index, 1);
        },
        addNew:function(){
          this.list.push(10);
        },
        changeList:function(){
          this.list=[1,2,6];
        },
        change2nd:function(){
          // this.list[2]=15;
          Vue.set(this.list, 2, 15)
        },
        addNew2:function(){
          // this.obj.gen='male';
          Vue.set(this.obj, 'gen','male')
        },
        remove:function(){
          Vue.delete(this.obj, 'name');
        },
        reverse:function(){
          this.list2.reverse();
        },
        addClassToFirst:function(){
          document.querySelector(".user").classList.add('wrong');
        },
        searchUsers:function(){
          // using arrow function
          // return this.list2.filter((el)=>{
          //   return el.name.indexOf(this.search)!==-1;
          // });
          // using regular function
          const app=this;
          return this.list2.filter(function(el){
            // console.log(this);
            return el.name.indexOf(app.search)!==-1;
          });
        }
      },
      computed:{
        evenNums:function(){
          return this.list.filter((el)=>el%2==0)
        }
      }
    });
  </script>
  <style type="text/css">
    .wrong input{
      border-color: red;
    }
  </style>
</html>
